.utmp/
.vs/
Assets/Adaptive Performance/
Assets/Resources/
Assets/Scenes/
Assets/Settings/
Assets/TutorialInfor/
Assets/UI Toolkit/UnityThemes/
Assets/Animations/
Assets/Assets/
Assets/FirstSceneAsset/
Assets/Prefab/
Assets/RoomAssets/
Library/
Logs/
obj/
Packages/
ProjectSettings/
UserSettings/
/Unity.2D*
/Unity.AdaptivePerformance*
/Unity.Burst*
/Unity.CollabProxy*
/Unity.InputSystem*
/Unity.Collections*
/Unity.InternalAPIEditorBridge*
/Unity.Mathematics*
/Unity.Mobile*
/Unity.Multiplayer*
/Unity.Notifications*
/Unity.PerformanceTesting*
/Unity.PlasticSCM*
/Unity.Profilling*
/Unity.Rendering*
/Unity.RenderPipeline*
/Unity.Rider*
/Unity.Searcher*
/Unity.ShaderGraph*
/Unity.TextMeshPro*
/Unity.VisualScripting*
/Unity.VisualStudio*
/UnityEditor.TestRunner*
/UnityEditor.UI*
